@import "tailwindcss";

@theme {
  --color-primary: var(--tg-theme-button-color, #007aff);
  --color-primary-text: var(--tg-theme-button-text-color, #ffffff);
}

body {
  background: var(--tg-theme-secondary-bg-color, white);
  padding: 0;
  margin: 0;
}